<server description="Intro REST Guide Liberty server">
	<featureManager>
		<feature>jaxrs-2.1</feature>
	</featureManager>

	<httpEndpoint httpPort="${default.http.port}"
		id="defaultHttpEndpoint" host="*" />

	<webApplication location="dev.galasa.scheduler.api.war"
		contextRoot="/" />



</server>
